
body{
    margin:0px;
    padding: 0px;
}
div{
    padding: 20px;
    margin: 10px;
    border: solid black 10px;
    background-color: blanchedalmond;
}

#one{
    background-color: crimson;
    position: relative;
}

#two{
    background-color: chartreuse;
}

#three{
    padding: 30px;
    margin:20px;
    background-color: cadetblue;
    position: fixed;
    top:20px;
    left: 50px;
}
