ul li{
    color: crimson;
}

div > p{
    color: darkorchid;
}

div ~ span{
    color: aqua;
}

div + span{
    color: coral;
}

[contenteditable]{
    color: blanchedalmond;
}

[class*=ek]{
    color: blue;
}