div {
    height: 50px;
    width: 50px;
    background-color: steelblue;
    margin: 10px;
    transition: 2s;

}

#div1:hover {
    transition: 2s;
    height: 100px;
    width: 100px;
    background-color: maroon;
}