<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/">
    <input type="text" name="task">
    <input type="submit">
</form>

<ul>
    {{#each todos}}
        <li>{{task}}</li>
    {{/each}}
</ul>

</body>
</html>