div {
    height: 50px;
    width: 50px;
    background-color: steelblue;
    margin: 10px;
    transition: 2s;

}

#div1:hover {
    transition: 2s;
    height: 100px;
    width: 100px;
    background-color: maroon;
}

@keyframes myanim {
    0% {
        transform: translate(0px, 0px)
    }
    30% {
        transform: translate(50px, 0px)
    }

    60% {
        transform: translate(50px, 50px)
    }
    80% {
        transform: translate(0px, 50px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}

#div4 {
    animation-name: myanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}